* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Fredoka", sans-serif;
   background: #d8dff6;
   color: #2c3550;
}

h1 {
   font-size: 64px;
   font-weight: normal;
}
h2 {
   font-size: 32px;
   font-weight: 400;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   margin: auto;
}

.todo-box {
   background: #f3f6ff;
   border-radius: 30px;
   height: 600px;
   width: 400px;
   position: relative;
   overflow: hidden;
   .upper {
      background: #fff;
      border-radius: 30px;
      padding: 30px;
   }
   .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
         width: 32px;
         img {
            width: 32px;
            float: left;
            margin-right: 15px;
         }
      }
      h2 {
         font-size: 24px;
      }
      .mode {
         // padding: 10px;
         // border-radius: 100px;
         img {
            width: 32px;
            float: right;
         }
      }
   }
   .input-group {
      position: relative;
      margin-top: 30px;
      .input-icon {
         width: 32px;
         position: absolute;
         top: 9px;
         left: 9px;
      }
      input {
         width: 100%;
         padding-left: 50px;
         height: 50px;
         background: #f5f7ff;
         border-radius: 15px;
         caret-color: #67b0ff;
         &:focus-visible {
            outline: -webkit-focus-ring-color auto 0px;
            border: 1px solid #67b0ff;
            padding-left: 49px;
         }
      }
   }
   .middle {
      padding: 15px;
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      .task-box {
         background: #fff;
         position: relative;
         border-radius: 15px;
         padding: 15px;
         display: flex;
         align-items: center;
         margin-bottom: 15px;
         transition: 0.3s ease-in-out;
         .date-box {
            background: #f5f7ff;
            width: 60px;
            height: 60px;
            border-radius: 10px;
            text-align: center;
            padding-top: 4px;
            margin-right: 15px;
            .tarikh {
               font-size: 18px;
            }
         }
         h3 {
            font-size: 18px;
            margin-bottom: 5px;
         }
         .time {
            color: #999;
            font-size: 14px;
            img {
               width: 32px;
               float: left;
               margin-top: -3px;
            }
         }
         .actions {
            position: absolute;
            right: -30px;
            opacity: 0;
            transition: 0.3s ease-in-out;
            button {
               background: #fff;
               border-radius: 100px;
               padding: 10px;
               display: block;
               img {
                  width: 16px;
               }
               &:nth-child(2) {
                  margin: 15px;
               }
            }
         }
         &:hover {
            transform: scale(1.05);
            z-index: 1;
            .actions {
               right: 0;
               opacity: 1;
            }
         }
      }
   }
   .add {
      position: absolute;
      bottom: 30px;
      right: 30px;
      border-radius: 100px;
      background: #67b0ff;
      // z-index: 1;
      transition: 0.3s ease-in-out;
      img {
         width: 64px;
      }
   }
}

.add-todo {
   background: #f3f6ff;
   border-radius: 30px;
   height: 600px;
   width: 400px;
   position: relative;
   overflow: hidden;
   .upper {
      background: #fff;
      border-radius: 30px;
      padding: 30px;
   }
   .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .backward {
         width: 32px;
         img {
            width: 32px;
            float: left;
            margin-right: 15px;
         }
      }
      h2 {
         font-size: 24px;
      }
      .mode {
         // padding: 10px;
         // border-radius: 100px;
         img {
            width: 32px;
            float: right;
         }
      }
   }
   .input-group {
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
      .input-icon {
         width: 32px;
         position: absolute;
         top: 9px;
         left: 9px;
      }
      label {
         color: #999;
      }
      .form-control {
         width: 100%;
         height: 100px;
         border-bottom: 1px solid #e5e5e5;
         caret-color: #67b0ff;
         padding: 15px 0 59px 0;
         transition: 0.4s;
         &:focus-visible {
            outline: -webkit-focus-ring-color auto 0px;
            border-bottom: 1px solid #67b0ff;
         }
         &::placeholder {
            color: #999;
            transition: 0.4s;
         }
      }
   }

   .error {
      font-size: 14px;
      color: tomato;
   }
   .input-group2 {
      position: relative;
      margin-bottom: 15px;
      .input-icon {
         width: 32px;
         position: absolute;
         top: 9px;
         left: 0px;
      }
      .form-control {
         width: 100%;
         padding-left: 47px;
         height: 50px;
         // background: #f5f7ff;
         // border-radius: 15px;
         caret-color: #67b0ff;
         &:focus-visible {
            outline: -webkit-focus-ring-color auto 0px;
         }

         option {
            background: red;
            height: 40px;
            border-radius: 100px;
            position: relative;
            &::after {
               content: "32";
               position: absolute;
               width: 100%;
               height: 40px;
               background: orange;
               top: 0;
               left: 0;
            }
         }
      }
   }
   .submit-btn {
      background: #67b0ff;
      width: 100%;
      height: 50px;
      border-radius: 15px;
   }
}

.MuiFormControl-root {
   font-family: "Fredoka", sans-serif;
   width: 100%;
   height: 50px;
   .form-control {
      font-family: "Fredoka", sans-serif;
      color: #999;
   }
   fieldset {
      border: none;
   }
}

.MuiSelect-select {
   padding-left: 0 !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
   padding-left: 0 !important;
}
.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
   font-family: "Fredoka", sans-serif;
}
.MuiOutlinedInput-input {
   font-family: "Fredoka", sans-serif !important;
   color: #999 !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
   padding-left: 47px !important;
}
.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root,
.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today,
.MuiTypography-caption.css-1w13o7u-MuiTypography-root,
.PrivatePickersFadeTransitionGroup-root.css-1bx5ylf,
.PrivatePickersYear-yearButton.css-m1gykc,
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-173nj1u-MuiButtonBase-root-MuiIconButton-root,
.css-eziifo .css-1flhz3h,
.MuiTypography-root.MuiTypography-caption.css-1sn4lm3-MuiTypography-root {
   font-family: "Fredoka", sans-serif;
   font-weight: 400;
}
// MuiButtonBase-root MuiPickersDay-root MuiPickersDay-dayWithMargin MuiPickersDay-today css-195y93z-MuiButtonBase-root-MuiPickersDay-root
